<div class="header_inner">
  <nav class="header_navigation">
    {{#link-to "index"}}
      <div class="header_logo">
        <img src="/assets/images/megu-nee.png">
      </div>
    {{/link-to}}
    {{#link-to "works"}}
      <div class="header_nav-works header_nav-item">
        <span>Works</span>
      </div> 
    {{/link-to}}
    {{#link-to "creators"}}
      <div class="header_nav-creators header_nav-item">
        <span>Creators</span>
      </div> 
    {{/link-to}}
  </nav>
</div>